html, 
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

h1, 
h3 {
	font-family: 'Chicle', cursive;
	font-size: 5em;
	text-align: center;
	color: #61045f;
}

h3 {
	font-size: 4em;
}


/*Styles for the dashboard*/

.dashboard {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	flex-wrap: wrap;
	color: #545454;
	font-size: 1.2rem;
}

.dashboard-element {
	width: 20%;
	min-width: 100px;
	text-align: center;
}

.dashboard-icon {
	font-size: 1.5rem;
	line-height: 2rem;
}

#timer, 
#moves {
	display: inline-block;
	line-height: 2rem;
	width: 5%;
}

#stars {
	margin: 0 auto;
	text-align: center;
	margin: 3% auto 2%;
}

.fa-star {
	color: purple;
}

#reset {
	cursor: pointer;
	font-size: 1.5rem;
	margin: 1%;
	color: #545454;
	float: right;
}

/*Styles for the difficulty select buttons*/

#form {
	display: flex;
	justify-content: space-between;
}

input {
	display: none;
}

label {
	flex: 1;
	display: inline-block;
	cursor: pointer;
	text-align: center;
	line-height: 50px;
	margin: 0;
	padding: 0;
	background:  #61045f;
	color: #ffffff;
	box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.7);;
}

label:nth-of-type(2) {
	margin: 0 1%;
}

.checked {
	box-shadow: none;
}

/*Styles for the game board*/

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.game-board {
	/* gradiend credit uiGradients */
	background: #aa076b;  
	background: -webkit-linear-gradient(to bottom, #61045f, #aa076b); 
	background: linear-gradient(to bottom, #61045f, #aa076b); 
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 3%;

}

.card-container {
	perspective: 1000px;
	position: relative;
	margin: 1%;
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #ece9e6; 
	backface-visibility: hidden;
	transition: .5s;
	display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10%;
    color: #7f7f7f;
}

.back {
	transform: rotateY(180deg);
	background: #ece9e6; 
}

.easy {
	padding-bottom: 48%;
	width: 48%;
	font-size: 3rem;
}

.normal {
	padding-bottom: 23%;
	width: 23%;	
	font-size: 2rem;
}

.hard {
	padding-bottom: 14.65%;
	width: 14.65%;
	font-size: 1.2rem;
}

.front-open {
	transform: rotateY(-180deg);
}

.back-open {
	transform: rotateX(0deg);
}

.back-correct {
	background: #348f50;  
	background: -webkit-linear-gradient(to top, #56b4d3, #347f8f); 
	background: linear-gradient(to top, #56b4d3, #347f8f); 
	transform: rotateX(0deg);
	color: #f7f7f7;	
}

.front-correct {
	transform: rotateY(-180deg);
}

/*Modal styles*/

.modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 20%;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
}

.modal-inner {
	background: #f7f7f7;
	margin: 0 auto;
	padding: 20px 40px;
	width: 70%;
	max-width: 800px; 
	border-radius: 20px;
}

.modal-text {
	text-align: center;
}

#replay {
	margin-top: 5%;
	cursor: pointer;
	
}

.hide {
	display: none;
}



@media screen and (max-width: 600px) {
	body {
		font-size: 12px;
	}
}