html, 
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

* {
	box-sizing: border-box;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 800px;
}

.game-board {
	background-color: #bababa;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 3%;
}

.card-container {
	perspective: 1000px;
	position: relative;
	margin: 2%;
}

.card {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: blue;
	backface-visibility: hidden;
	transition: .5s;
	display: flex;
    justify-content: space-around;
    align-items: center;
}

.back {
	transform: rotateY(180deg);
	background-color: red;	
}

.easy {
	padding-bottom: 46%;
	width: 46%;
}

.normal {
	padding-bottom: 20%;
	width: 20%;	
}

.hard {
	padding-bottom: 12%;
	width: 12%;
}

.fas {
	color: #fafafa;
}

.front-open {
	transform: rotateY(-180deg);
}

.back-open {
	transform: rotateX(0deg);
}

.back-correct {
	background-color: green;
	transform: rotateX(0deg);
	
}

.front-correct {
	transform: rotateY(-180deg);
	background-color: green;
}

.fa-star {
	color: purple;
}

.modal {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	padding-top: 20%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}

.modal-inner {
	background-color: yellow;
	margin: 0 auto;
	padding: 2%;
	width: 70%;
	max-width: 800px; 
}

.hide {
	display: none;
}